version: "3.9"

services:
  backend:
    build: ./backend
    container_name: erp_oee_backend
    command: python app.py
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
